@import 'tailwindcss';
@import 'tw-animate-css';

@import './purge.css';
@import './sizing.css';
@import './typography.css';
@import './colors/gray.css';

@custom-variant dark (&:is(.dark *));

@theme {
  --radius: 0.25rem;
  --blur: 1rem;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-border: var(--border);
  --color-ring: var(--ring);
  --color-outline: var(--outline);
}

:root {
  --background: var(--gray-1);
  --foreground: var(--gray-12);

  --secondary: var(--gray-3);
  --secondary-foreground: var(--gray-11);

  --muted: var(--gray-3);
  --muted-foreground: var(--gray-10);

  --border: var(--gray-5);
  --ring: var(--gray-7);
  --outline: var(--gray-7);
}

.dark {
  --background: var(--gray-1);
  --foreground: var(--gray-12);

  --secondary: var(--gray-3);
  --secondary-foreground: var(--gray-11);

  --muted: var(--gray-3);
  --muted-foreground: var(--gray-10);

  --border: var(--gray-4);
  --ring: var(--gray-7);
  --outline: var(--gray-7);
}

@layer base {
  * {
    @apply border-border outline-outline ring-ring;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply overflow-y-scroll;
  }

  body {
    @apply bg-background text-foreground isolate font-mono text-base antialiased;
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--color-border);
    border-radius: 5px;
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--color-border) transparent;
  }
}
